tests/
tests/test_history.py
tests/test_login.py
tests/test_parse_login.py
tests/test.py
tests/__pycache__/test_get_code.cpython-38-pytest-8.3.5.pyc
tests/__pycache__/test_history_list.cpython-38-pytest-8.3.5.pyc
tests/__pycache__/test_history.cpython-38-pytest-8.3.5.pyc
tests/__pycache__/test_login.cpython-38-pytest-8.3.5.pyc
tests/__pycache__/test_login.cpython-38.pyc
tests/__pycache__/test_parse_login.cpython-38-pytest-8.3.5.pyc
*config.ini
**/__pycache__/**
*.pyc
.vscode/settings.json
tmp.json
json
.worktrees/
worktrees/
*.csv
config.ini.template
./venv/
.vscode/launch.json
chat_doc/
# claude
claude*
.claude/settings.local.json
tmpclaude*
*venv/**
didi-vercel/**
.update_cache.json
